@charset "utf-8";

// 1. Configuration and helpers
@import 'abstracts/variables',
        'abstracts/mixins';

// 2. Vendors
@import 'vendors/normalize';

// 3. Base stuff
@import 'base/base',
        'base/typography',
        'base/helpers';

// 4. Layout-related section
@import 'layout/header';

// 5. Components
@import 'components/button';