@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  box-sizing: border-box;
  font-size: calc(0.65em + 0.5vw);

  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-background: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

@media (min-width: 35em) {
  :root {
    font-size: .875em;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Spartan, Arial, Helvetica, sans-serif;
  background-color: var(--light-grayish-cyan-filter-tablets);
  margin: 0;
}

.is-hidden {
  display: none !important;
}

.is-visible {
  visibility: hidden;
}

.container > .filters-wrapper:not(.is-visible) {
  margin-top: -2.5em;
}

.container > .filters-wrapper:not(.is-visible) ~ .jobs-wrapper {
  margin-top: 2em;
}

@media (max-width: 50em) {
  .container > .filters-wrapper:not(.is-visible) ~ .jobs-wrapper {
    margin-top: 3.5em;
  }
}


.bg-header {
  background-color: var(--desaturated-dark-cyan);
  background-image: url(./images/bg-header-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 9.75em;
}

@media (min-width: 26em) {
  .bg-header {
    background-image: url(./images/bg-header-desktop.svg);
  }
}

.container {
  padding: 0 1.25em;
  max-width: 80em;
  margin: 0 auto 3em;
}

.jobs-wrapper {
  margin-top: 2em;
}

.filters-wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1em 2em;
  margin: 0 auto;
  border-radius: 0.5em;
  box-shadow: 0 .25em .75em hsl(180, 32%, 85%);
  font-weight: 700;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 2em;
}

.filter {
  background-color: var(--light-grayish-cyan-background);
  color: var(--desaturated-dark-cyan);
  border-radius: .25em;
  margin: .5em;
  display: flex;
  align-items: center;
}

.filter > span {
  padding: .675em .75em .375em;
  user-select: none;
}

.filter > img {
  background-color: var(--desaturated-dark-cyan);
  color: var(--light-grayish-cyan-filter-tablets);
  border: 0;
  padding: .675em .75em .675em;
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em;
  cursor: pointer;
}

.filter > img:hover {
  background-color: var(--very-dark-grayish-cyan);
}

.filters__clear {
  order: 1;
  margin-left: auto;
  color: var(--desaturated-dark-cyan);
  text-decoration: none;
}

.filters__clear:hover {
  text-decoration: underline;
}

.job {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.375em;
  padding: 2em 1em 1.5em;
  box-shadow: 0 .25em .75em hsl(180, 32%, 85%);
}

.job--featured {
  border-left: .3em solid var(--desaturated-dark-cyan);
}

.job + .job {
  margin-top: 3em;
}

.job__badges, .job__captions, .job__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filters, .job__badges, .job__tags, .job__title {
  font-weight: 700;
}

.job__badges:first-child {
  color: var(--desaturated-dark-cyan);
}

.job__title,
.job__badges > div,
.job__tags > div {
  margin: .5em;
}

.job__captions > div + div{
  margin: .25em;
}

.logo {
  position: absolute;
  left: 1.25em;
  top: 0em;
  transform: translate(0, -50%);
  width: 3em;
  height: 3em;
}

.job:not(.job--featured) .logo {
  left: 1.55em;
}

.job__title {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--very-dark-grayish-cyan);
  text-decoration: none;
  display: inline-block;
}

.job__title:hover {
  color: var(--desaturated-dark-cyan);
}

.job__captions {
  color: var(--dark-grayish-cyan);
  align-items: center;
  margin-left: .5em;
}

.job__captions > .dot {
  font-weight: 700;
  margin-top: -0.25em;
  font-size: 1.5rem;
}

hr.line {
  border: 0;
  border-bottom: 1px solid var(--dark-grayish-cyan);
  align-self: stretch;
  margin: 1em .5em .25em;
}

@media (min-width: 50em) {
  hr.hide {
    display: none;
  }

  .job {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5em 2em 2em;
  }

  .job + .job {
    margin-top: 1.75em;
  }

  .job__tags {
    margin-left: auto;
    justify-content: flex-end;
  }

  .logo {
    position: initial;
    margin: 0;
    margin-right: 1em;
    width: 6em;
    height: 6em;
    transform: initial;
  }
}

.job__tags {
  margin-top: .5em;
}

.badge {
  color: var(--light-grayish-cyan-filter-tablets);
  border-radius: 2em;
  padding: .5em .75em .25em;
}

.badge--new {
  background-color: var(--desaturated-dark-cyan);
}
.badge--featured {
  background-color: var(--very-dark-grayish-cyan);
}

.tag {
  padding: .675em .75em .375em;
  background-color: var(--light-grayish-cyan-background);
  color: var(--desaturated-dark-cyan);
  border-radius: .25em;
  margin: .5em;
  cursor: pointer;
}

.tag:hover {
  background-color: var(--desaturated-dark-cyan);
  color: var(--light-grayish-cyan-filter-tablets);
}
