@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  box-sizing: border-box;

  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-background: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Spartan, Arial, Helvetica, sans-serif;
  background-color: var(--light-grayish-cyan-filter-tablets);
  margin: 0;
}

.bg-header {
  background-color: var(--desaturated-dark-cyan);
}

.container {
  max-width: 50em;
  margin: 3em 1em;
}

.job {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  border-left: .3em solid var(--desaturated-dark-cyan);
  border-radius: 0.5em;
  padding: 2em 1em 1.5em;
  box-shadow: 0 .25em .75em hsl(180, 24%, 69%);
}

.job + .job {
  margin-top: 3em;
}

.job__badges, .job__captions, .job__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.job__badges, .job__tags, .job__title {
  font-weight: 700;
}

.job__title,
.job__badges > div,
.job__tags > div,
.job__captions > div {
  margin: .5em;
}

.logo {
  position: absolute;
  left: 1.25em;
  top: 0em;
  transform: translate(0, -50%);
  width: 3em;
  height: 3em;
}

.job__title {
  font-size: 1.2rem;
}

.job__captions {
  color: var(--dark-grayish-cyan);
  align-items: center;
}

.job__captions > .dot {
  font-weight: 700;
  margin-top: .065em;
  font-size: 1.5rem;
}

.job__tags {
  border-top: 1px solid var(--dark-grayish-cyan);
  padding-top: .5em;
}

.badge {
  color: var(--light-grayish-cyan-filter-tablets);
  border-radius: 2em;
  padding: .5em .75em .25em;
}

.badge--new {
  background-color: var(--desaturated-dark-cyan);
}
.badge--featured {
  background-color: var(--very-dark-grayish-cyan);
}

.tag {
  padding: .5em .75em .25em;
  background-color: var(--light-grayish-cyan-background);
  color: var(--desaturated-dark-cyan);
  border-radius: .25em;
  margin: .5em;
}
