.header {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 0;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-nav {
  li + li {
    margin-left: 1em;

    @include mobile {
      margin-left: 0;
      margin-top: 1em;
    }
  }

  a {
    color: $grayish-blue;
    display: inline-block;

    &:hover {
      color: $dark-blue;

      @include mobile {
        color: $grayish-blue;
        text-decoration: underline;
      }
    }

    &:after{
      content: " ";
      display: block;
      width: 0;
      height: 0.25em;
      transform: translateY(1em);
      background: linear-gradient(to right, $lime-green, $bright-cyan);
      transition: width 0.3s;

      @include mobile {
        display: none;
      }
    }

    &:hover:after {
      width: 100%;
    }
    
    @include mobile {
      color: $dark-blue;
    }
  }

  @include mobile {
    flex-direction: column;
    background-color: $white;
    position: fixed;
    top: 4.25em;
    left: 2em;
    right: 2em;
    padding: 1.5em;
    border-radius: .125em;
    z-index: 10;
    box-shadow: 0 .125em 1em rgba(0, 0, 0, .3);
    align-items: center;
    display: none;
  }
}

nav.is-open .primary-nav {
  display: flex;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  margin-left: auto;
  @include mobile {
    display: inline-block;
  }
}

.header__content  .cta--btn {
  @include mobile {
    display: none;
  }
}