.hero {
  display: flex;
  overflow: hidden;
  background-image: url(../../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 40vw;
  background-position-y: -16.25em;
  margin-bottom: -10em;

  @include tablet {
    background-position-x: 0vw;
    background-position-y: -18em;
    margin-bottom: 0;
  }
}

.hero__content {
  display: flex;

  @include tablet {
    flex-direction: column;
  }
}

.hero__content__body {
  margin-top: 6em;
  width: 40%;
  margin-bottom: 20em;

  @include tablet {
    margin-bottom: 5em;
    width: 100%;
    text-align: center;
  }
}

.img-wrapper {
  position: relative;
  margin-top: -8em;
  width: 55%;

  @include tablet {
    order: -1;
    width: 100%;
  }
}

.img-wrapper img {
  width: 100%;
  margin-left: 8em;

  @include tablet {
    margin-left: 0;
  }
}

.hero__content h1 {
  color: $dark-blue;
  font-size: 2.75em;
  font-weight: 300;
  margin-bottom: 0.5em;

  @include mobile {
    font-size: 2.25em;
    margin-bottom: 0.75em;
  }
}

.hero__content p {
  color: $grayish-blue;
  margin-bottom: 2.5em;
}