.media {
  width: 15em;
  margin: 1em 0.75em;
  font-weight: 300;
}

.media h4 {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1.125em;
  color: $dark-blue;
}

.media p {
  line-height: 1.5;
  font-weight: 0.875em;
  color: $grayish-blue;
}