.btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid $pink;
  padding: 0.375em 1em;
  border-radius: 0.25em;
}

.btn--cta {
  padding: 0.375em 2em;
  border-radius: 10em;
  background-color: $pink;
  color: $white;
}

.btn--big {
  padding: 1.125em 4.5em;
  font-weight: 700;
  box-shadow: 0 0.25em 0.875em rgba(0, 0, 0, 0.18);
}

.btn--inverse {
  background-color: $white;
  color: $pink;
}