@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");

$font-stack: "Public Sans", Arial, sans-serif;

// Primary
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

// Neutral
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: $font-stack;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: $white;
  padding: 0 2em;
}

a {
  text-decoration: none;
}

nav {
  margin: auto;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

header .links {
  li + li {
    margin-left: 1em;
  }

  a {
    color: $grayish-blue;
  }
}

.btn {
  display: inline-block;
  color: $white;
  outline: none;
}

.cta--btn {
  padding: 0.75em 2em 0.875em;
  background: linear-gradient(to right, $lime-green, $bright-cyan);
  border: none;
  border-radius: 10em;
}

// Hero section
.hero {
  display: flex;
  justify-content: space-between;
}

.hero__bg {
  background-image: url(./images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  max-width: 53%;
  position: relative;
  top: -16em;
  z-index: -10;
  overflow: hidden;
}

.hero__bg img {
  margin-top: 10em;
}

.hero__content {
  margin: 9em 3.5em 0 10%;
  width: 47%;
}

.hero__content h1 {
  color: $dark-blue;
  font-size: 2.75em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.hero__content p {
  color: $grayish-blue;
  margin-bottom: 2.5em;
}

.services {
  background-color: $light-grayish-blue;
  margin-top: -23em;
  padding: 3em 10%;
  margin-left: -0.75em;
  z-index: -30;
  position: relative;
}

.description {
  margin-bottom: 2em;
  margin-left: 0.75em;
}

.description h2 {
  color: $dark-blue;
}

.description p {
  color: $grayish-blue;
}

.description h2 {
  font-size: 2em;
  font-weight: 300;
}

.media-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.media {
  width: 15em;
  margin: 1em 0.75em;
  font-weight: 300;
}

.media h4 {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1.125em;
  color: $dark-blue;
}

.media p {
  line-height: 1.5;
  font-weight: 0.875em;
  color: $grayish-blue;
}

.articles {
  padding: 3em 10%;
  margin-left: -0.75em;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 15em;
  margin: 1em 0.75em;
  font-weight: 300;
}

.card img {
  width: 100%;
}

footer {
  background-color: $dark-blue;
  color: white;
  padding: 3em 10%;
  margin-left: -0.75em;
}

footer .links a,
footer .social a {
  color: white;
}

footer .links {
  display: flex;
  flex-direction: column;
}

footer .links li + li {
  margin-top: 1em;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer .left-side,
footer .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .left-side a, footer .right-side a {
  margin-bottom: 1.5em;
}

footer .right-side span {
  color: $grayish-blue;
}

footer .right-side {
  align-items: flex-end;
}

.left-side li + li {
  margin-left: 1em;
}

.social i {
  font-size: 1.125em;
}

@media (max-width: 50em) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }

  footer .left-side,
  footer .right-side {
    align-items: center;
  }

  footer .left-side, footer .links:last-of-type {
    margin-bottom: 1.5em;
  }

  footer .links li + li, footer .links:last-of-type {
    margin-top: .75em;
  }
}
