// Primary
$pink: hsl(322, 100%, 66%);

// Neutral
$very-dark-cyan: hsl(192, 100%, 9%);
$dark-cyan: hsl(192, 6%, 46%);
$very-pale-blue: hsl(207, 100%, 98%);
$white: hsl(0, 100%, 100%);

$text-color: $very-dark-cyan;
$font-stack: 'Open Sans', sans-serif;