html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

section {
  display: flex;
  justify-content: center;
}

section:not(:first-of-type) {
  padding: 3.5em 0;
}

section:nth-of-type(odd) {
  background-color: $very-light-gray;
}

section:nth-of-type(even) {
  background-color: $light-grayish-blue;
}

a {
  text-decoration: none;
}

section a:hover:not(.btn), footer a:hover:not(.btn) {
  color: hsl(166, 65%, 51%);
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.section-intro {
  margin-bottom: 2em;

  @include mobile {
    text-align: center;
  }
}

.section-intro h2 {
  color: $dark-blue;
}

.section-intro p {
  color: $grayish-blue;
}

.section-intro h2 {
  font-size: 2em;
  font-weight: 300;
}