.footer {
  display: flex;
  justify-content: center;
  background-color: $very-dark-blue;
  color: $white;
  padding: 3.5em 0;
}

.footer a {
  color: $white;
  text-decoration: none;
}

.footer a:hover, .footer i:hover {
  color: $bright-red;
}

.footer .grid {
  display: grid;
  grid-row-gap: 3em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "news-letter news-letter"
    "links-1 links-2"
    "social social"
    "logo logo"
    "copyright copyright";

  @include desktop {
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "logo links-1 links-2 news-letter"
      "social links-1 links-2 copyright";
  }
}

.grid > .grid__item {
  justify-self: center;

  @include desktop {
    justify-self: initial;
  }
}

.footer .l-logo {
  grid-area: logo;
}

.footer .l-links-1 {
  grid-area: links-1;
  justify-self: flex-end;
  margin-right: 3.5em;
}

.footer .l-links-2 {
  grid-area: links-2;
  justify-self: flex-start;
  margin-left: 3.5em;
}

.footer .l-news-letter {
  grid-area: news-letter;
}

.footer .l-social {
  grid-area: social;

  @include desktop {
    align-self: end;
  }
}

.footer .l-copyright {
  grid-area: copyright;
  color: $dark-grayish-blue;

  @include desktop {
    justify-self: end;
    align-self: end;
  }
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.social-links {
  display: flex;
}

.social-links li i {
  font-size: 2.25rem;
  cursor: pointer;


  @include desktop {
    font-size: 1.25rem;
  }
}

.social-links > li + li {
  margin-left: 2em;

  @include desktop {
  margin-left: 0.75em;
  }
}

.sub-links li + li {
  margin-top: 1em;
}

.news-letter {
  display: flex;
}

.news-letter > input {
  padding: 0.75em 0.875em 0.875em;
  border-radius: 5em;
  border: none;
  outline: none;
  margin-right: 0.5em;
}

.news-letter > button {
  cursor: pointer;
}