.get-started {
  background-color: $bright-red;
  display: flex;
  justify-content: center;
  padding: 2.5em 0;
}

.get-started__inner {
  text-align: center;

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}

.get-started__intro > h2 {
  font-size: 2.25em;
  color: $white;
}

.get-started__intro {
  flex: 0 1 40%;
}
