html {
  box-sizing: border-box;
  font-size: calc(0.6em + 0.5vw);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (min-width: 1140px) {
  html {
    font-size: 1em;
  }
}

header,
section {
  color: $very-dark-cyan;
}

header,
section,
footer {
  display: flex;
  justify-content: center;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.35rem;
}

.logo {
  @include mobile {
    max-width: 10em;
  }
}