$font-stack: "Be Veitnam", sans-serif;

// Primary

$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

// Neutral

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

$text-color: $very-dark-blue;
$white: hsl(0, 0%, 100%);
$bright-red-shadow: hsla(12, 88%, 59%, 0.26);
